.one {
  height: 400px;
  width: 500px;
  background-color: blueviolet;
  border: 5px solid black;
  padding-top: 175px;
  padding-left: 225px;
  margin-top: 100px;
  margin-left: 150px;
}

.two {
  height: 200px;
  width: 300px;
  background-color: rgb(87, 233, 136);
  border: 5px solid black;
}
